[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = git://github.com/emacsmirror/autopair.git
[submodule "vendor/flymake-coffee"]
	path = vendor/flymake-coffee
	url = git://github.com/purcell/flymake-coffee.git
[submodule "vendor/pretty-mode"]
	path = vendor/pretty-mode
	url = git://github.com/emacsmirror/pretty-mode.git
[submodule "vendor/js-comint"]
	path = vendor/js-comint
	url = git://github.com/emacsmirror/js-comint.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "vendor/pianobar"]
	path = vendor/pianobar
	url = git://github.com/agrif/pianobar.el.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
